.card-sec {
    .action-block {
        background-color: #000;
    }
    .card {
        background-color: #000;
        border-radius: 0;
    }
    .card-desc {
        width: 58%;
    }
}

@media (min-width: 576px) {
    .card-desc {
        display: hidden;
    }
}