.card-sec {
    .card {
        background-color: #000;
        border-radius: 0;
        flex-direction: unset;
    }
    .card-desc {
        width: 58%;
    }
}

.custom-frame {
    width: 40%;
}

@media (max-width: 767px) {
    .custom-frame {
        min-width: 100%;
    }
}