$width-250-px: 250px;
.search-block {
    display: inline-block;
    width: 100%;
}

.search-block form {
    float: right;
}

.search-block button {
    margin-left: -8px;
}

.search-block input {
    width: 250px;
    border-radius: 0.25rem 0px 0px 0.25rem;
}