<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <h1 class="display-4">Watch exciting movies at Harry's TUBE. Register today!</h1>
                        <p>This is just a template, Please fill out unique description about your to be website. Best wishes
                            for your new endeavour
                            <br>May this be your chance to shine. Consider this area for marketing your idea.</p>
                        <p>
                            <a class="btn btn-primary btn-lg" role="button">Browse »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>