@import "../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
$bg-color: #333;
$font-color: #fff;
$primary-color: #de005d;
$bg-success-color: #28a745;
$dark-overlay: rgba(0, 0, 0, 0.31);
$icon-size: 30px;
$nav-item-size: 1.4rem;
$title-font-size: 1.8rem;
$width-250-px: 250px;
body {
    background-color: $bg-color;
    color: $font-color;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

.nav-item {
    font-size: $nav-item-size;
}

.navbar-brand {
    font-size: $title-font-size;
    padding-top: 0px;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

#home-section {
    background-image: url('./~/assets/img/bgphoto.jpeg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 500px;
    }
    .home-inner {
        padding-top: 150px;
    }
    .card-form {
        opacity: 0.9;
    }
    .fa {
        color: $primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 4px;
        font-size: $icon-size;
    }
}

#explore-section {
    .fa {
        color: #fff;
        background: #333;
        padding: 4px;
        border-radius: 4px;
        font-size: $icon-size;
    }
}

#share-section {
    .fa {
        color: $primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 4px;
        font-size: $icon-size;
    }
}

.text-link {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
}

.search-block {
    display: inline-block;
    width: 100%;
    form {
        float: right;
    }
    input {
        width: 250px;
        border-radius: 0.25rem 0px 0px 0.25rem;
    }
    button {
        margin-left: -8px;
        background-color: $bg-color;
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

.action-block {
    border-top: 1px solid $bg-color;
}

.padding-top-80 {
    padding-top: 60px;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.4rem;
    }
    .nav-item {
        font-size: 1rem;
    }
}